<h1>Apparently Bitly</h1>
<p><%=link_to 'New', new_url_path%></p>
<table>
    <tr>
      <th>Original URL : </th>
      <th>Shortened URL :</th>
    </tr>

    <% @url.each do |url|%>
    <tr>
      <td><a href= <%=url.long_url%>><%=url.long_url%></a></td>
      <td>bitly.com/<%=link_to url.short_url, controller: :urls, action: :short, id: url%></td>
      <td><%=link_to 'Show', url_path(url)%></td>
      <td><%=link_to 'Delete', url_path(url), method: :delete, data: { confirm: "Are you sure?"}%></td>
      <td><%= link_to 'Edit', edit_url_path(url)%></td>
    </tr>
    <%end%>
</table>
